[submodule "SHTOOLS"]
	path = SHTOOLS
	url = https://github.com/SHTOOLS/SHTOOLS.git
	branch = master
[submodule "multibuild"]
	path = multibuild
	url = https://github.com/matthew-brett/multibuild.git
	branch = devel
